# Table of Contents
1. [Step 1: Gather the Data](#step1)
1. [Step 2: Prepare Data for Consumption](#step2)

<a id="step1"></a>
# Step 1: Gather the Data
The data collected and created at create_ds.ipynb script

<a id="step2"></a>
# Step 2: Prepare Data for Consumption

## 2.1 Import Libraries

In [1]:
import sys
print("Python version: {}". format(sys.version))

import pandas as pd
print("pandas version: {}". format(pd.__version__))

import numpy as np
print("NumPy version: {}". format(np.__version__))

import scipy as sp
print("SciPy version: {}". format(sp.__version__)) 

import matplotlib
import matplotlib.pyplot as plt
print("matplotlib version: {}". format(matplotlib.__version__))

import seaborn as sns
print("seaborn version: {}". format(sns.__version__))
%matplotlib inline

pd.set_option('display.max_columns', None)
sns.set(style='white', context='notebook', palette='deep')

Python version: 3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 22:22:05) [MSC v.1916 64 bit (AMD64)]
pandas version: 1.0.3
NumPy version: 1.18.2
SciPy version: 1.4.1
matplotlib version: 3.2.1
seaborn version: 0.10.0

## 2.2 Meet and Greet Data

Data explanation should be here

In [2]:
df = pd.read_csv("./input/autotel.csv",dtype={
    "Order number": "str",
    "Year": "str",
    "Month": "str",
    "Day": "str",
    "Hour": "str",
    "Minute": "str",
} ,index_col=0)

c:\projects\python\autotel-ml\venv\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (5,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300004 entries, 0 to 300003
Data columns (total 32 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Car id                    300004 non-null  object
 1   Order number              300004 non-null  object
 2   Category                  300004 non-null  object
 3   Avg distance              300004 non-null  int64
 4   Billing minutes           275694 non-null  object
 5   Address                   286966 non-null  object
 6   Time                      286358 non-null  object
 7   kmh                       268428 non-null  float64
 8   Coords                    272662 non-null  object
 9   Lat                       272662 non-null  float64
 10  Lon                       272662 non-null  float64
 11  neighborhood              247720 non-null  object
 12  Street                    286966 non-null  object
 13  City                      286966 non-null  object
 14  Country                   286919 non-null  object
 15  Street_c                  286081 non-null  object
 16  Address_c                 286966 non-null  object
 17  Date                      286358 non-null  object
 18  Year                      286358 non-null  object
 19  Month                     286358 non-null  object
 20  Day                       286358 non-null  object
 21  Hour                      286358 non-null  object
 22  Minute                    286358 non-null  object
 23  Temprature                283617 non-null  float64
 24  Max Temprature            283617 non-null  float64
 25  Min Temprature            283617 non-null  float64
 26  Relative Humidity         283617 non-null  float64
 27  Amount of Rain            283617 non-null  float64
 28  Wind Speed                283617 non-null  float64
 29  Wind Direction            283617 non-null  float64
 30  Max Wind Speed per Min    283617 non-null  float64
 31  Max Win Speed per 10 Min  283617 non-null  float64
dtypes: float64(12), int64(1), object(19)
memory usage: 75.5+ MB

In [4]:
df.head()

,Car id,Order number,Category,Avg distance,Billing minutes,Address,Time,kmh,Coords,Lat,Lon,neighborhood,Street,City,Country,Street_c,Address_c,Date,Year,Month,Day,Hour,Minute,Temprature,Max Temprature,Min Temprature,Relative Humidity,Amount of Rain,Wind Speed,Wind Direction,Max Wind Speed per Min,Max Win Speed per 10 Min
0,46-525-81,60386,שריון חינמי,8,13,"גורדון 86-88, תל אביב יפו, ישראל",2017-10-23 00:08:00,37.15,"(32.0807428, 34.7792228)",32.08,34.78,הצפון הישן-החלק הדרומי,גורדון 86-88,תל אביב יפו,ישראל,גורדון,"גורדון 86, תל אביב יפו, ישראל",2017-10-23,2017.0,10.0,23.0,0.0,8.0,20.53,20.8,20.1,66.67,0.0,2.53,117.0,3.2,2.7
1,46-525-81,60386,שריון חינמי,8,13,"הרב רובינשטיין 61, תל אביב יפו, ישראל",2017-10-23 00:31:00,37.15,"(32.0357011, 34.7581719)",32.04,34.76,(יפו ד' (גבעת התמרים,הרב רובינשטיין 61,תל אביב יפו,ישראל,הרב רובינשטיין,"הרב רובינשטיין 61, תל אביב יפו, ישראל",2017-10-23,2017.0,10.0,23.0,0.0,31.0,20.53,20.8,20.1,66.67,0.0,2.53,117.0,3.2,2.7
2,48-437-81,60387,שריון חינמי,3,8,"יעקב אפטר 3, תל אביב יפו, ישראל",2017-10-23 00:09:00,21.56,"(32.1050698, 34.7892274)",32.11,34.79,'תכנית ל,יעקב אפטר 3,תל אביב יפו,ישראל,יעקב אפטר,"יעקב אפטר 3, תל אביב יפו, ישראל",2017-10-23,2017.0,10.0,23.0,0.0,9.0,20.53,20.8,20.1,66.67,0.0,2.53,117.0,3.2,2.7
3,48-437-81,60387,שריון חינמי,3,8,"ז'בוטינסקי 10, תל אביב יפו, ישראל",2017-10-23 00:21:00,21.56,"(32.0895831, 34.7734306)",32.09,34.77,הצפון הישן - החלק הצפוני,ז'בוטינסקי 10,תל אביב יפו,ישראל,ז'בוטינסקי,"ז'בוטינסקי 10, תל אביב יפו, ישראל",2017-10-23,2017.0,10.0,23.0,0.0,21.0,20.53,20.8,20.1,66.67,0.0,2.53,117.0,3.2,2.7
4,63-887-81,60388,שריון חינמי,0,2,"רופין 32-34, תל אביב יפו, ישראל",2017-10-23 00:10:00,0.00,"(32.0836176, 34.7710507)",32.08,34.77,הצפון הישן-החלק הדרומי,רופין 32-34,תל אביב יפו,ישראל,רופין,"רופין 32, תל אביב יפו, ישראל",2017-10-23,2017.0,10.0,23.0,0.0,10.0,20.53,20.8,20.1,66.67,0.0,2.53,117.0,3.2,2.7

In [5]:
print(df.isnull().sum())
df.describe(include='all')

Car id                          0
Order number                    0
Category                        0
Avg distance                    0
Billing minutes             24310
Address                     13038
Time                        13646
kmh                         31576
Coords                      27342
Lat                         27342
Lon                         27342
neighborhood                52284
Street                      13038
City                        13038
Country                     13085
Street_c                    13923
Address_c                   13038
Date                        13646
Year                        13646
Month                       13646
Day                         13646
Hour                        13646
Minute                      13646
Temprature                  16387
Max Temprature              16387
Min Temprature              16387
Relative Humidity           16387
Amount of Rain              16387
Wind Speed                  16387
Wind Direction              16387
Max Wind Speed per Min      16387
Max Win Speed per 10 Min    16387
dtype: int64

,Car id,Order number,Category,Avg distance,Billing minutes,Address,Time,kmh,Coords,Lat,Lon,neighborhood,Street,City,Country,Street_c,Address_c,Date,Year,Month,Day,Hour,Minute,Temprature,Max Temprature,Min Temprature,Relative Humidity,Amount of Rain,Wind Speed,Wind Direction,Max Wind Speed per Min,Max Win Speed per 10 Min
count,300004,300004,300004,300004.000000,275694.0,286966,286358,268428.00,272662,272662.000000,272662.000000,247720,286966,286966,286919,286081,286966,286358,286358,286358,286358,286358,286358,283617.000000,283617.000000,283617.000000,283617.000000,283617.000000,283617.000000,283617.000000,283617.000000,283617.000000
unique,260,150002,5,NaN,591.0,15448,154902,NaN,13209,NaN,NaN,71,15438,22,5,1880,13827,191,2,12,26,24,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,71-816-55,68306,שריון חינמי,NaN,13.0,"הרצל 6, תל אביב יפו, ישראל",2018-01-25 08:37:00,NaN,"(32.0632564, 34.76982640000001)",NaN,NaN,לב תל-אביב,הרצל 6,תל אביב יפו,ישראל,שדרות רוטשילד,"הרצל 6, תל אביב יפו, ישראל",2018-02-03,2018.0,4.0,3.0,19.0,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1512,2,268870,NaN,11318.0,1898,10,NaN,1855,NaN,NaN,29714,1898,285280,286090,4182,1898,2258,206385,41939,21121,21047,4958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,4.974767,NaN,NaN,NaN,inf,NaN,32.057236,34.926253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.885194,19.374003,18.417135,67.043937,0.018564,3.669976,203.000382,5.183266,4.457326
std,NaN,NaN,NaN,20.975598,NaN,NaN,NaN,NaN,NaN,0.609210,3.019024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.184778,3.240759,3.167617,14.001087,0.151952,2.395371,98.555796,3.069928,2.720196
min,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.00,NaN,18.780000,34.740000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.370000,8.500000,8.200000,13.170000,0.000000,0.230000,0.500000,0.600000,0.400000
25%,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,12.63,NaN,32.070000,34.770000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.000000,17.400000,16.600000,58.500000,0.000000,2.030000,122.330000,3.200000,2.700000
50%,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,17.28,NaN,32.080000,34.780000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.800000,19.200000,18.400000,68.500000,0.000000,2.980000,224.330000,4.300000,3.700000
75%,NaN,NaN,NaN,7.000000,NaN,NaN,NaN,23.00,NaN,32.110000,34.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.850000,21.300000,20.400000,76.500000,0.000000,4.620000,286.670000,6.300000,5.400000
max,NaN,NaN,NaN,4514.000000,NaN,NaN,NaN,inf,NaN,32.190000,100.770000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.600000,33.800000,31.200000,97.000000,3.730000,17.970000,358.500000,28.200000,22.400000

## 2.2 Clean Data

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300004 entries, 0 to 300003
Data columns (total 32 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Car id                    300004 non-null  object
 1   Order number              300004 non-null  object
 2   Category                  300004 non-null  object
 3   Avg distance              300004 non-null  int64
 4   Billing minutes           275694 non-null  object
 5   Address                   286966 non-null  object
 6   Time                      286358 non-null  object
 7   kmh                       268428 non-null  float64
 8   Coords                    272662 non-null  object
 9   Lat                       272662 non-null  float64
 10  Lon                       272662 non-null  float64
 11  neighborhood              247720 non-null  object
 12  Street                    286966 non-null  object
 13  City                      286966 non-null  object
 14  Country                   286919 non-null  object
 15  Street_c                  286081 non-null  object
 16  Address_c                 286966 non-null  object
 17  Date                      286358 non-null  object
 18  Year                      286358 non-null  object
 19  Month                     286358 non-null  object
 20  Day                       286358 non-null  object
 21  Hour                      286358 non-null  object
 22  Minute                    286358 non-null  object
 23  Temprature                283617 non-null  float64
 24  Max Temprature            283617 non-null  float64
 25  Min Temprature            283617 non-null  float64
 26  Relative Humidity         283617 non-null  float64
 27  Amount of Rain            283617 non-null  float64
 28  Wind Speed                283617 non-null  float64
 29  Wind Direction            283617 non-null  float64
 30  Max Wind Speed per Min    283617 non-null  float64
 31  Max Win Speed per 10 Min  283617 non-null  float64
dtypes: float64(12), int64(1), object(19)
memory usage: 75.5+ MB

### 2.2.1 filling empy billing minutes with 0, most of the time its canceled drive

In [7]:
df['Billing minutes'] = pd.to_numeric(df['Billing minutes'],errors='coerce')
df['Billing minutes'] = df['Billing minutes'].fillna(0)

### 2.2.2 delete empty adresses

In [8]:
delete_empty_addresses = df["Address"].isnull()

In [9]:
df = df[~delete_empty_addresses]
# This is works too
# df.drop(delete_empty_addresses.index,inplace=True)
# df = df[pd.notnull(df['Address'])]

In [10]:
df["Address"].isnull().sum()

0

### WIP 2.2.3 filling na neighborhoods with neigbor matching by the same street

In [8]:
df["Street_c"].str.replace(r'\\', r'')

0                  גורדון
1          הרב רובינשטיין
2               יעקב אפטר
3              ז'בוטינסקי
4                   רופין
                ...
299999          מגן אברהם
300000               רבינא
300001    שדרות בן גוריון
300002            נמל יפו
300003                צפת
Name: Street_c, Length: 300004, dtype: object

In [18]:
df.groupby(["Address","neighborhood"]).size().reset_index()

,Address,neighborhood,0
0,"1 פינת דרך קיבוץ גלויות פינת 461 פינת דרך לח""י...",נופי ים,1
1,"1 פינת דרך קיבוץ גלויות פינת 461 פינת דרך לח\""...",נוה שרת,1
2,"1, ישראל",הצפון החדש-סביבת ככר המדינה,1
3,"1, תל אביב יפו, ישראל",הצפון הישן-החלק הדרומי,1
4,"1, תל אביב יפו, ישראל",נוה אביבים וסביבתה,1
...,...,...,...
89599,"תשרי 14, תל אביב יפו, ישראל",'נאות אפקה ב,1
89600,"תשרי 14, תל אביב יפו, ישראל",'תכנית ל,1
89601,"תשרי 2-12, תל אביב יפו, ישראל","אוניברסיטת ת""א",1
89602,"תשרי 2-12, תל אביב יפו, ישראל","יפו העתיקה,נמל יפו",1
89603,"תשרי 53-57, תל אביב יפו, ישראל",מכללת יפו תל אביב ודקר,1