# Table of Contents
1. [Step 1: Prepare Data for Consumption](#step1)
1. [Step 2: Merge Datasets and Add Rows](#step2)
1. [Step 3: Extract Data from Features](#step3)
1. [Step 4: Add weather data](#step4)

<a id="step1"></a>
# Step 1: Prepare Data for Consumption

## 1.1 Import Libraries

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

pd.set_option('display.max_columns', None)
sns.set(style='white', context='notebook', palette='deep')

## 1.2 Load Data

In [44]:
df = pd.read_csv("./input/2018.csv")
df_extra = pd.read_csv("./input/df_date_range_by_staying.csv")

c:\projects\python\autotel-ml\venv\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [45]:
df_extra.head()

,vehicle_id,order_id,shiryun_cat,avg_dist,billing_minutes,orig_addr,dest_addr,start_dt,end_dt,kmh,orig_addr_c,dest_addr_c,orig_coord,dest_coord,orig_x,orig_y,dest_x,dest_y,orig_x_merc,orig_y_merc,dest_x_merc,dest_y_merc,start_hour,start_dayofweek,start_month,orig_nei,dest_nei,origin_nei_id,orig_nei_name,orig_nei_area,orig_nei_popu,dest_nei_id,dest_nei_name,dest_nei_area,dest_nei_popu,next_origin_nei_id,next_start_dt,hour_list
0,46-525-81,60386,שריון חינמי,8,12.92,"גורדון 86-88, תל אביב יפו, ישראל","הרב רובינשטיין 61, תל אביב יפו, ישראל",2017-10-23 00:08:53.000,2017-10-23 00:31:40.370,37.151703,"גורדון 86, תל אביב יפו, ישראל","הרב רובינשטיין 61, תל אביב יפו, ישראל","(32.0807428, 34.7792228)","(32.0357011, 34.7581719)",32.080743,34.779223,32.035701,34.758172,3.871605e+06,3.773914e+06,3.869262e+06,3.767998e+06,0,Monday,October,הצפון הישן-החלק הדרומי,(יפו ד' (גבעת התמרים,31.0,הצפון הישן-החלק הדרומי,1348333.357,29394,49.0,(יפו ד' (גבעת התמרים,389591.6863,6631,35.0,2017-10-24 15:58:11.000,[Timestamp('2017-10-23 00:31:40.370000')]
1,46-549-81,60953,שריון חינמי,6,19.05,"שדרות מסריק 19, תל אביב יפו, ישראל","הרב רובינשטיין 63, תל אביב יפו, ישראל",2017-10-24 04:01:12.000,2017-10-24 04:24:45.240,18.897638,"שדרות מסריק 19, תל אביב יפו, ישראל","הרב רובינשטיין 63, תל אביב יפו, ישראל","(32.0792292, 34.77892540000001)","(32.0358154, 34.7583417)",32.079229,34.778925,32.035815,34.758342,3.871572e+06,3.773715e+06,3.869281e+06,3.768013e+06,4,Tuesday,October,הצפון הישן-החלק הדרומי,(יפו ד' (גבעת התמרים,31.0,הצפון הישן-החלק הדרומי,1348333.357,29394,49.0,(יפו ד' (גבעת התמרים,389591.6863,6631,46.0,2017-10-28 20:58:25.000,[Timestamp('2017-10-24 04:24:45.240000')]
2,60-609-55,66006,שריון חינמי,8,13.12,"נצח ישראל 6, תל אביב יפו, ישראל","סומקן 34, תל אביב יפו, ישראל",2017-11-02 02:19:45.000,2017-11-02 02:41:30.513,36.585366,"נצח ישראל 6, תל אביב יפו, ישראל","סומקן 34, תל אביב יפו, ישראל","(32.0777774, 34.7786358)","(32.0353933, 34.7587304)",32.077777,34.778636,32.035393,34.758730,3.871540e+06,3.773524e+06,3.869324e+06,3.767957e+06,2,Thursday,November,הצפון הישן-החלק הדרומי,(יפו ד' (גבעת התמרים,31.0,הצפון הישן-החלק הדרומי,1348333.357,29394,49.0,(יפו ד' (גבעת התמרים,389591.6863,6631,49.0,2017-11-02 20:26:47.000,"[Period('2017-11-02 02:00', 'H'), Period('2017..."
3,60-589-55,67326,שריון חינמי,8,12.70,"נצח ישראל 6, תל אביב יפו, ישראל","הרב רובינשטיין 61, תל אביב יפו, ישראל",2017-11-04 03:54:18.000,2017-11-04 04:14:54.977,37.795276,"נצח ישראל 6, תל אביב יפו, ישראל","הרב רובינשטיין 61, תל אביב יפו, ישראל","(32.0777774, 34.7786358)","(32.0357011, 34.7581719)",32.077777,34.778636,32.035701,34.758172,3.871540e+06,3.773524e+06,3.869262e+06,3.767998e+06,3,Saturday,November,הצפון הישן-החלק הדרומי,(יפו ד' (גבעת התמרים,31.0,הצפון הישן-החלק הדרומי,1348333.357,29394,49.0,(יפו ד' (גבעת התמרים,389591.6863,6631,49.0,2017-11-04 14:24:16.000,"[Period('2017-11-04 04:00', 'H'), Period('2017..."
4,63-879-81,69181,שריון חינמי,6,18.67,"שדרות ח""ן 7, תל אביב יפו, ישראל","סומקן 34, תל אביב יפו, ישראל",2017-11-07 00:24:40.000,2017-11-07 00:50:09.500,19.282271,"שדרות ח""ן 7, תל אביב יפו, ישראל","סומקן 34, תל אביב יפו, ישראל","(32.074634, 34.7798203)","(32.0353933, 34.7587304)",32.074634,34.779820,32.035393,34.758730,3.871672e+06,3.773111e+06,3.869324e+06,3.767957e+06,0,Tuesday,November,הצפון הישן-החלק הדרומי,(יפו ד' (גבעת התמרים,31.0,הצפון הישן-החלק הדרומי,1348333.357,29394,49.0,(יפו ד' (גבעת התמרים,389591.6863,6631,37.0,2017-11-08 11:16:19.000,[Timestamp('2017-11-07 00:50:09.500000')]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150002 entries, 0 to 150001
Data columns (total 9 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   מספר רכב                150002 non-null  object
 1   מספר הזמנה              150002 non-null  int64
 2   קטגוריית שריון          150002 non-null  object
 3   ממוצע מרחק לנסיעה       150002 non-null  int64
 4   דקות לחיוב              137847 non-null  object
 5   כתובת התחלה             150002 non-null  object
 6   כתובת סיום              136964 non-null  object
 7   תאריך ושעה התחלת שריון  150002 non-null  object
 8   תאריך ושעה סיום הזמנה   136356 non-null  object
dtypes: int64(2), object(7)
memory usage: 6.3+ MB

## 1.2 Prepare Data for Cosumption

In [4]:
df_extra.drop(['vehicle_id','shiryun_cat','avg_dist','billing_minutes','orig_addr','dest_addr',
               'start_dt','end_dt','orig_addr_c','dest_addr_c','orig_x_merc',
               'orig_y_merc','dest_x_merc','dest_y_merc','start_hour','start_dayofweek','start_month',
               'origin_nei_id','orig_nei_name','dest_nei_id','dest_nei_name',],axis=1,inplace=True)

In [5]:
df = df.rename({'מספר רכב': 'Car id', 'מספר הזמנה': 'Order number','קטגוריית שריון':'Category',
                 'ממוצע מרחק לנסיעה':'Avg distance','דקות לחיוב':'Billing minutes','כתובת התחלה':'Start Address',
                 'כתובת סיום':'Dest Address','תאריך ושעה התחלת שריון':'Start time','תאריך ושעה סיום הזמנה':'End time'},
                axis=1)

In [6]:
df_extra = df_extra.rename({'order_id': 'Order number'},axis=1)

<a id="step2"></a>
# Step 2: Merge Datasets and Add Rows

## 2.1 Merge Datasets

In [7]:
df = pd.merge(df, df_extra, on=['Order number'], how='left')
df.head()

,Car id,Order number,Category,Avg distance,Billing minutes,Start Address,Dest Address,Start time,End time,kmh,orig_coord,dest_coord,orig_x,orig_y,dest_x,dest_y,orig_nei,dest_nei,orig_nei_area,orig_nei_popu,dest_nei_area,dest_nei_popu
0,46-525-81,60386,שריון חינמי,8,13,"גורדון 86-88, תל אביב יפו, ישראל","הרב רובינשטיין 61, תל אביב יפו, ישראל",23/10/2017 0:08,23/10/2017 0:31,37.151703,"(32.0807428, 34.7792228)","(32.0357011, 34.7581719)",32.080743,34.779223,32.035701,34.758172,הצפון הישן-החלק הדרומי,(יפו ד' (גבעת התמרים,1.348333e+06,29394.0,3.895917e+05,6631.0
1,48-437-81,60387,שריון חינמי,3,8,"יעקב אפטר 3, תל אביב יפו, ישראל","ז'בוטינסקי 10, תל אביב יפו, ישראל",23/10/2017 0:09,23/10/2017 0:21,21.556886,"(32.1050698, 34.7892274)","(32.0895831, 34.7734306)",32.105070,34.789227,32.089583,34.773431,'תכנית ל,הצפון הישן - החלק הצפוני,9.167206e+05,5617.0,1.819996e+06,32080.0
2,63-887-81,60388,שריון חינמי,0,2,"רופין 32-34, תל אביב יפו, ישראל","רופין 32-34, תל אביב יפו, ישראל",23/10/2017 0:10,23/10/2017 0:15,0.000000,"(32.0836176, 34.7710507)","(32.0836176, 34.7710507)",32.083618,34.771051,32.083618,34.771051,הצפון הישן-החלק הדרומי,הצפון הישן-החלק הדרומי,1.348333e+06,29394.0,1.348333e+06,29394.0
3,63-906-81,60389,שריון חינמי,4,9,"שדרות מסריק 19, תל אביב יפו, ישראל","אונקלוס 3, תל אביב יפו, ישראל",23/10/2017 0:12,23/10/2017 0:23,26.229508,"(32.0792292, 34.77892540000001)","(32.0957684, 34.7956908)",32.079229,34.778925,32.095768,34.795691,הצפון הישן-החלק הדרומי,בבלי,1.348333e+06,29394.0,7.890963e+05,9403.0
4,60-589-55,60390,שריון חינמי,2,6,"הירקון 188, תל אביב יפו, ישראל","גורדון 83-85, תל אביב יפו, ישראל",23/10/2017 0:12,23/10/2017 0:21,18.662519,"(32.0874575, 34.7714172)","(32.0807886, 34.7793035)",32.087457,34.771417,32.080789,34.779303,הצפון הישן - החלק הצפוני,הצפון הישן-החלק הדרומי,1.819996e+06,32080.0,1.348333e+06,29394.0

## 2.2 Create New Rows
creating new rows from destination data (Dest Address, End time, dest_coord, dest_x, dest_y, dest_nei)

In [8]:
df_temp = df.copy()

In [9]:
df.drop(["Dest Address","End time","dest_coord","dest_x","dest_y","dest_nei","dest_nei_area","dest_nei_popu"],axis=1,inplace=True)
df_temp.drop(["Start Address","Start time","orig_coord","orig_x","orig_y","orig_nei","orig_nei_area","orig_nei_popu"],axis=1,inplace=True)

In [10]:
df = df.rename({"Start Address":"Address","Start time": "Time","orig_coord":"Coords","orig_x":"Lat","orig_y":"Lon","orig_nei":"neighborhood","orig_nei_area":"Area","orig_nei_popu":"Population"},axis=1)
df_temp = df_temp.rename({"Dest Address":"Address","End time": "Time","dest_coord":"Coords","dest_x":"Lat","dest_y":"Lon","dest_nei":"neighborhood","dest_nei_area":"Area","dest_nei_popu":"Population"},axis=1)

In [11]:
df = pd.concat([df,df_temp])

In [12]:
df.sort_values(["Order number","Time"],axis=0,inplace=True)

### [Delete] check for null and missing values

In [13]:
# Fill empty and NaNs values with NaN
df = df.fillna(np.nan)

In [14]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300004 entries, 0 to 150001
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Car id           300004 non-null  object
 1   Order number     300004 non-null  int64
 2   Category         300004 non-null  object
 3   Avg distance     300004 non-null  int64
 4   Billing minutes  275694 non-null  object
 5   Address          286966 non-null  object
 6   Time             286358 non-null  object
 7   kmh              268428 non-null  float64
 8   Coords           272662 non-null  object
 9   Lat              272662 non-null  float64
 10  Lon              272662 non-null  float64
 11  neighborhood     272662 non-null  object
 12  Area             272662 non-null  float64
 13  Population       272662 non-null  float64
dtypes: float64(5), int64(2), object(7)
memory usage: 26.3+ MB

Car id                 0
Order number           0
Category               0
Avg distance           0
Billing minutes    24310
Address            13038
Time               13646
kmh                31576
Coords             27342
Lat                27342
Lon                27342
neighborhood       27342
Area               27342
Population         27342
dtype: int64

<a id="step3"></a>
# Step 3: Extract Data from Features

### Splitting address to country, city, street

In [15]:
split_col = df["Address"].str.split(",", expand=True)
split_col[:3]

                   0             1       2     3
0       גורדון 86-88   תל אביב יפו   ישראל  None
0  הרב רובינשטיין 61   תל אביב יפו   ישראל  None
1        יעקב אפטר 3   תל אביב יפו   ישראל  None

In [16]:
df["Street"] = split_col[0]
df["City"] = split_col[1]
df["Country"] = split_col[2]

#### extracting street without numbers

In [17]:
df["Street_c"] = df['Street'].str.replace(r'(\d+)(-(\d+))*', r'').str.replace(r'\\', r'')

#### extract clean address for google api use

In [18]:
df['Address_c'] = df['Address'].str.replace(r'(\d+)-(\d+)', r'\1').str.replace(r'\\', r'')
df['Address_c2'] = df['Address'].str.replace(r'(\d+)(-(\d+))*', r'').str.replace(r'\\', r'')

### Extract date and time

In [19]:
df["Time"] = pd.to_datetime(df["Time"])

In [20]:
df["Date"] = df["Time"].dt.date
# df["time"] = df["Time"].dt.time
df["Year"] = df["Time"].dt.year
df["Month"] = df["Time"].dt.month
df["Day"] = df["Time"].dt.day
df["Hour"] = df["Time"].dt.hour
df["Minute"] = df["Time"].dt.minute

<a id="step4"></a>
# Step 4: Add weather data

In [21]:
weather = pd.read_csv("./input/ims_data_2017_2018.csv",na_values={
    "טמפרטורה(C°)": ["-"],
    "טמפרטורת מקסימום(C°)": ["-"],
    "טמפרטורת מינימום(C°)": ["-"],
    "לחות יחסית(%)": ["-"],
    "מהירות הרוח(m/s)": ["-"],
    "כיוון הרוח(מעלות)": ["-"],
    "מהירות רוח דקתית מקסימלית(m/s)": ["-"],
    "מהירות רוח 10 דקתית מקסימלית(m/s)": ["-"]
},dtype={
    "טמפרטורה(C°)": np.float64,
    "טמפרטורת מקסימום(C°)":np.float64,
    "טמפרטורת מינימום(C°)":np.float64,
    "לחות יחסית(%)": np.float64,
    "מהירות הרוח(m/s)":np.float64,
    'כמות גשם(מ"מ)': np.float64,
    "מהירות הרוח(m/s)": np.float64,
    "כיוון הרוח(מעלות)": np.float64,
    "מהירות רוח דקתית מקסימלית(m/s)": np.float64,
    "מהירות רוח 10 דקתית מקסימלית(m/s)": np.float64
})

In [22]:
weather = weather.rename({"שם תחנה":"station","תאריך":"Date","שעה- LST":"Time - LST","טמפרטורה(C°)":"Temprature",
                          "טמפרטורת מקסימום(C°)":"Max Temprature","טמפרטורת מינימום(C°)":"Min Temprature","לחות יחסית(%)":"Relative Humidity",
                          'כמות גשם(מ"מ)':"Amount of Rain","מהירות הרוח(m/s)":"Wind Speed","כיוון הרוח(מעלות)":"Wind Direction",
                          "מהירות רוח דקתית מקסימלית(m/s)":"Max Wind Speed per Min","מהירות רוח 10 דקתית מקסימלית(m/s)":"Max Win Speed per 10 Min"}
                         ,axis=1)

In [23]:
weather["Time - LST"] = pd.to_datetime(weather["Time - LST"])
weather["Date"] = pd.to_datetime(weather["Date"])

In [24]:
weather["Hour"] = weather["Time - LST"].dt.hour.astype(float)
weather["Date"] = weather["Date"].dt.date

In [25]:
# weather["Date"] = pd.to_datetime(weather["Date"])
# df["Date"] = pd.to_datetime(df["Date"])

In [26]:
# fill na values with previous values
weather.fillna(method='ffill',inplace=True)

In [27]:
weather.isna().sum()

station                     0
Date                        0
Time - LST                  0
Temprature                  0
Max Temprature              0
Min Temprature              0
Relative Humidity           0
Amount of Rain              0
Wind Speed                  0
Wind Direction              0
Max Wind Speed per Min      0
Max Win Speed per 10 Min    0
Hour                        0
dtype: int64

In [28]:
weather_hour_grouped = weather.groupby(["Date","Hour"]).agg({
        'Temprature':'mean', 'Max Temprature':'max','Min Temprature':'min',
        'Relative Humidity':'mean','Amount of Rain':'mean','Wind Speed':'mean',
        'Wind Direction':'mean','Max Wind Speed per Min':'max','Max Win Speed per 10 Min':'max'}).reset_index()

In [29]:
df = pd.merge(df,weather_hour_grouped,on=["Date","Hour"],how='left')

In [30]:
# d = df.groupby(["Date","Hour"]).size().reset_index()

In [31]:
# w = weather.groupby(["Date","Hour"]).size().reset_index()

In [32]:
#  tmp = pd.merge(d,w,on=["Date","Hour"],how="left")

In [35]:
# df.drop(["Unnamed: 0"],axis=1, inplace=True)

In [36]:
# delete city != תל אביב יפו
df = df[df["City"] == ' תל אביב יפו']

In [37]:
df = df.round(2)
df.to_csv("./input/autotel.csv", encoding='utf-8-sig')

## Visualization

In [ ]:
# counts = df['neighborhood'].value_counts()
# counts_more_then = df[df['neighborhood'].isin(counts[counts > 1000].index)]

In [ ]:
# tmp = df.groupby(['Year', 'Month']).size().reset_index(name='Freq')

In [ ]:
# df.groupby(['Address', 'neighborhood']).size().reset_index(name='Freq')

In [ ]:
# df[(df["Address_c2"] == ', תל אביב יפו, ישראל') & (df["neighborhood"] == "מונטיפיורי")]

In [ ]:
#  df['neighborhood'].value_counts()

In [ ]:

# df["value"] = df.groupby("name").transform(lambda x: x.fillna(x.mean()))