In [1]:
import numpy as np
import pandas as pd

In [250]:
df = pd.read_csv('data/df_with_neis_details.csv')

In [124]:
def hour_range_list(d1,d2):
    return pd.period_range(d1, d2, freq='H').hour.values.tolist()

In [181]:
def hour_range_list2(row):
    return pd.period_range(row['end_dt'], row['next_start_dt'], freq='H').hour.values.tolist()

In [251]:
gb = df.groupby('vehicle_id')
groups_vehicle_id = [gb.get_group(x).sort_values(by=['start_dt']) for x in gb.groups]
groups_vehicle_id_shift = [gb.get_group(x).shift(periods=1).sort_values(by=['start_dt']) for x in gb.groups]

In [253]:
for g in groups_vehicle_id:
    g_shift = g.shift(periods=-1).sort_values(by=['start_dt'])
    g["next_origin_nei_id"] = g_shift["origin_nei_id"]
    g["next_start_dt"] = g_shift["start_dt"]
    g['hour_list'] = g.apply(lambda x: hour_range_list(x.end_dt, x.next_start_dt) if x.dest_nei_id == x.next_origin_nei_id else hour_range_list(x.end_dt, x.end_dt), axis=1)

In [254]:
groups_vehicle_id[0]

,vehicle_id,order_id,shiryun_cat,avg_dist,billing_minutes,orig_addr,dest_addr,start_dt,end_dt,kmh,...,orig_nei_name,orig_nei_area,orig_nei_popu,dest_nei_id,dest_nei_name,dest_nei_area,dest_nei_popu,next_origin_nei_id,next_start_dt,hour_list
54658,156-01-201,100516,שריון חינמי,4,11.97,"טשרניחובסקי 39-47, תל אביב יפו, ישראל","הירקון 198, תל אביב יפו, ישראל",2017-12-19 18:33:47.000,2017-12-19 18:52:16.410,20.050125,...,לב תל-אביב,1.977207e+06,33239,30.0,הצפון הישן - החלק הצפוני,1.819996e+06,32080,30.0,2017-12-20 08:25:58.000,"[18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, ..."
100338,156-01-201,100913,שריון חינמי,2,17.48,"הירקון 198, תל אביב יפו, ישראל","פומבדיתא 1, תל אביב יפו, ישראל",2017-12-20 08:25:58.000,2017-12-20 08:50:27.957,6.864989,...,הצפון הישן - החלק הצפוני,1.819996e+06,32080,35.0,הצפון החדש-החלק הדרומי,9.615801e+05,12392,35.0,2017-12-20 17:59:08.000,"[8, 9, 10, 11, 12, 13, 14, 15, 16, 17]"
79799,156-01-201,101296,שריון חינמי,6,14.68,"פומבדיתא 4, תל אביב יפו, ישראל","אברהם בויאר 8, תל אביב יפו, ישראל",2017-12-20 17:59:08.000,2017-12-20 18:15:17.423,24.523161,...,הצפון החדש-החלק הדרומי,9.615801e+05,12392,7.0,'רמת אביב ג,1.101582e+06,12377,7.0,2017-12-20 18:50:28.000,[18]
89844,156-01-201,101352,שריון חינמי,5,10.90,"אברהם בויאר 8, תל אביב יפו, ישראל","שביל ישראל, תל אביב יפו, ישראל",2017-12-20 18:50:28.000,2017-12-20 19:07:48.817,27.522936,...,'רמת אביב ג,1.101582e+06,12377,13.0,פארק הירקון,3.750740e+06,100,13.0,2017-12-21 11:33:34.000,"[19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8..."
125477,156-01-201,101858,שריון חינמי,5,9.85,"שביל ישראל, תל אביב יפו, ישראל","קהילת קיוב 6, תל אביב יפו, ישראל",2017-12-21 11:33:34.000,2017-12-21 11:51:32.080,30.456853,...,פארק הירקון,3.750740e+06,100,18.0,'נאות אפקה א,3.536114e+05,3035,18.0,2017-12-21 20:47:18.000,"[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36981,156-01-201,239267,שריון חינמי,4,7.90,"התחייה 16, תל אביב יפו, ישראל","הירקון 64, תל אביב יפו, ישראל",2018-04-29 21:56:08.000,2018-04-29 22:07:43.743,30.379747,...,צפון יפו,8.385962e+05,8037,37.0,לב תל-אביב,1.977207e+06,33239,37.0,2018-04-30 13:58:35.000,"[22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11,..."
68659,156-01-201,239898,שריון חינמי,2,11.98,"הירקון 64, תל אביב יפו, ישראל","ז'בוטינסקי 104, תל אביב יפו, ישראל",2018-04-30 13:58:35.000,2018-04-30 14:13:47.753,10.016694,...,לב תל-אביב,1.977207e+06,33239,34.0,הצפון החדש-סביבת ככר המדינה,9.807822e+05,14052,34.0,2018-04-30 14:55:50.000,[14]
32361,156-01-201,239943,שריון חינמי,3,11.23,"ז'בוטינסקי 104, תל אביב יפו, ישראל","ברדיצ'בסקי 3, תל אביב יפו, ישראל",2018-04-30 14:55:50.000,2018-04-30 15:07:55.480,16.028495,...,הצפון החדש-סביבת ככר המדינה,9.807822e+05,14052,37.0,לב תל-אביב,1.977207e+06,33239,37.0,2018-04-30 18:47:27.000,"[15, 16, 17, 18]"
127976,156-01-201,240234,שריון חינמי,3,13.73,"ברדיצ'בסקי 3, תל אביב יפו, ישראל","הרב יצחק ידידיה פרנקל 68, תל אביב יפו, ישראל",2018-04-30 18:47:27.000,2018-04-30 19:02:55.677,13.109978,...,לב תל-אביב,1.977207e+06,33239,53.0,נוה שאנן,8.448648e+05,4796,53.0,2018-04-30 21:43:11.000,"[19, 20, 21]"
104484,156-01-201,240489,שריון חינמי,5,24.03,"הרב יצחק ידידיה פרנקל 68, תל אביב יפו, ישראל","שטרוק 14, תל אביב יפו, ישראל",2018-04-30 21:43:11.000,2018-04-30 22:07:51.983,12.484395,...,נוה שאנן,8.448648e+05,4796,35.0,הצפון החדש-החלק הדרומי,9.615801e+05,12392,NaN,NaN,[22]

In [255]:
r = pd.concat(groups_vehicle_id)
r = r.sort_index()

In [261]:
(r["order_id"]==df["order_id"]).sum() == df.shape[0]

True

In [271]:
r[r.hour_list.apply(lambda c: c == np.nan)]

Empty DataFrame
Columns: [vehicle_id, order_id, shiryun_cat, avg_dist, billing_minutes, orig_addr, dest_addr, start_dt, end_dt, kmh, orig_addr_c, dest_addr_c, orig_coord, dest_coord, orig_x, orig_y, dest_x, dest_y, orig_x_merc, orig_y_merc, dest_x_merc, dest_y_merc, start_hour, start_dayofweek, start_month, orig_nei, dest_nei, origin_nei_id, orig_nei_name, orig_nei_area, orig_nei_popu, dest_nei_id, dest_nei_name, dest_nei_area, dest_nei_popu, next_origin_nei_id, next_start_dt, hour_list]
Index: []

[0 rows x 38 columns]

In [262]:
df.to_csv('data/df_with_hour_list.csv', index=False)